header {
    background-color: rgb(67, 0, 129) ;
    padding: 20px;
    width: 100%;
}
main {
    background-color: #e6e5e5;
    padding: 30px 15px;
    width: 100%;
    border-radius: 13px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .wrapper a {
    display: inline-block;
    padding: 12px 24px;
    color: #fff;
    background: linear-gradient(135deg, #0061a5, #009d4e);
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.wrapper a:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }

#center {
    display: block;
    margin: 50px auto;
}
footer {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
  }
